	
	<style>
		code { white-space: normal; }
		pre.ln-right { padding-left: 55px; position: relative; }
		pre.ln-right .line { position: absolute; left: 0; width: 45px; text-align: right; display: inline-block;}
		legend { font-size: 17px; margin-bottom: 5px; }
		legend:only-child { display: none; }
		footer { margin-bottom: 16px; }
		a[name] { display: block; padding-bottom: 16px; }
		
		#cards > .panel { margin-bottom: 10px; }
		#cards.filter-namespace > .namespace,
		#cards.filter-class > .class,
		#cards.filter-mixin > .mixin,
		#cards.filter-file > .file,
		#cards.filter-method.filter-public > .method.public,
		#cards.filter-method.filter-private > .method.private,
		#cards.filter-method.filter-protected > .method.protected,
		#cards.filter-property.filter-public > .property.public,
		#cards.filter-property.filter-private > .property.private,
		#cards.filter-property.filter-protected > .property.protected,
		#cards.filter-static.filter-public > .static.public,
		#cards.filter-static.filter-private > .static.private,
		#cards.filter-static.filter-protected > .static.protected,
		#cards.filter-deprecated > .deprecated
			{ display: block; }
			
		#cards table:empty { display: none; }
		
		.label.desc, .label.extends, .label.author, .label.alias { display: none; }
		.label.deprecated { background-color: #d9534f; }
		.example { margin-bottom: 0; }
		
		#tree { overflow-y: auto; }
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

	<nav class="navbar navbar-dark bg-primary">
		<button &="click:collapse(#nav)" class="navbar-toggler" type="button">
		&#9776;	
		</button>
		<a class="navbar-brand"><%=name %></a>
	</nav>
	
	<div class="drawer drawer-left collapse collapse-x" &="nav" id="nav">
		<div class="drawer-content">
			<div class="nav">
				<fieldset class="form-group">
					<input type="text" class="form-control" id="search" placeholder="Search">
				</fieldset>
			</div>
			<ul class="nav">
				<li><%= obj.nav.join('</li><li>') %></li>
			</ul>
		</div>
	</div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right">
	<ul class="nav navbar-nav">
		<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
		<ul id="settings-view" class="dropdown-menu">
		  <li><a href="#"><input value="file" checked type="checkbox"> file</a></li>
		  <li><a href="#"><input value="namespace" checked type="checkbox"> namespace</a></li>
		  <li><a href="#"><input value="class" checked type="checkbox"> class</a></li>
		  <li><a href="#"><input value="mixin" checked type="checkbox"> mixin</a></li>
		  <li class="divider"></li>
		  <li><a href="#"><input value="method" type="checkbox"> method</a></li>
		  <li><a href="#"><input value="property" type="checkbox"> property</a></li>
		  <li><a href="#"><input value="static" type="checkbox"> static</a></li>
		  <li class="divider"></li>
		  <li><a href="#"><input value="public" checked type="checkbox"> public</a></li>
		  <li><a href="#"><input value="private" checked type="checkbox"> private</a></li>
		  <li><a href="#"><input value="protected" checked type="checkbox"> protected</a></li>
		  <li class="divider"></li>
		  <li><a href="#"><input value="deprecated" type="checkbox"> deprecated</a></li>
		</ul>
		</li>
	</ul>
  </div><!-- /.navbar-collapse -->

<div class="cxl-body">
	<section id="cards" class="container">
		<%= cards.join('') %>
	</section>

	<footer class="text-xs-center">
		<small>Generated by <a href="https://github.com/j5g3/docma">j5g3.docma</a></small>
	</footer>
</div>

